---
layout: layouts/base.njk
permalink: /404.html
title: Notice
eleventyExcludeFromCollections: true
---
{#- The 2004 NOTICE! gate, kept for the one place it belongs. -#}
<div class="notice">
  <h1>Notice!</h1>
  <p>To continue viewing this website you will need a page that exists. This one does not.</p>
  <a class="btn" href="{{ "/" | url }}">Continue</a>
</div>
